
.cardkind-horizontal-empty {
    background-color: var(--GMI-carddefaultbackground);
    border: 1px solid var(--GMI-cardbordercolor);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    transition: border-color .3s ease,box-shadow .3s ease;
    width: 100%
}

.cardkind-horizontal-empty:hover {
    border-color: var(--yellowGM);
    box-shadow: 0 6px 18px #0000002e;
}

.cardkind-horizontal-empty.sponsored {
    --yellowGM: var(--GMI-sponsored-bgColor)
}

.cardkind-horizontal-empty>.thumbnail-wrapper {
    aspect-ratio: 3/2;
    flex: 0 0 auto;
    max-width: 400px;
    min-width: 400px;
    object-fit: cover;
    overflow: hidden
}

.cardkind-horizontal-empty>.thumbnail-wrapper .thumbnail-frame {
    width: 100% !important
}

.cardkind-horizontal-empty > .thumbnail-wrapper picture,
  .cardkind-horizontal-empty > .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

.cardkind-horizontal-empty>.rightContent {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.cardkind-horizontal-artisan>.rightContent>.MarkRibbonActivity {
    max-width: fit-content
}

.cardkind-horizontal-artisan>.rightContent>.horizontal-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: hidden;
    width: 100%
}

.cardkind-horizontal-artisan>.rightContent>.horizontal-container>.details {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 390px;
    overflow: hidden;
    width: 100%
}

.cardkind-horizontal-artisan>.rightContent>.horizontal-container>.button-container {
    flex: 1 1 auto
}

.cardkind-horizontal-blog>.rightContent>.horizontal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: auto;
}

.cardkind-horizontal-blog>.rightContent>.horizontal-container>.synopsis {
    color: var(--GMI-black);
    flex: 1 1 auto;
    font-family: var(--recipe-synopsis-font-family);
    font-size: var(--recipe-synopsis-font-size);
    font-style: var(--recipe-synopsis-font-style);
    font-weight: var(--recipe-synopsis-font-weight);
    letter-spacing: var(--recipe-synopsis-letter-spacing);
    line-height: var(--recipe-synopsis-line-height);
    max-width: 390px;
    overflow: hidden;
    width: 100%
}

.cardkind-horizontal-blog>.rightContent>.horizontal-container>.button-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
    margin-top: auto;
}


.card-title {
    color: var(--GMI-black);
    display: -webkit-box;
    font-family: var(--card-title-font-family);
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    letter-spacing: var(--card-title-letter-spacing);
    line-height: var(--card-title-line-height);
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-style: var(--card-title-font-style)
}

.card-title.horizontal {
    font-family: var(--card-horizontal-title-font-family);
    font-size: var(--card-horizontal-title-font-size);
    font-style: var(--card-horizontal-title-font-style);
    font-weight: var(--card-horizontal-title-font-weight);
    letter-spacing: var(--card-horizontal-title-letter-spacing);
    line-height: var(--card-horizontal-title-line-height)
}

.mt-auto {
    margin-top: auto!important
}

.captionButtons, .MainButton {
    width: 280px;
}


.cardPaddingContainer {
    position: relative;
    width: 100%;
}


.cardPaddingContainer.details {
    gap: 3px;
    justify-content: flex-end !important;
    width: 100%;     
}

.cardPaddingContainer.details,
.cardkind-selection {
    align-items: center;
    position: relative;
}

.body .details{
  display: flex;
  flex-direction: column;
}

.cardDetailHor {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    padding: 2px 0;
}

.cardDetailHor>:first-child {
    flex-basis: 32%;
    flex-shrink: 0
}

.cardDetailHor.horizontal>:first-child {
    flex-basis: 95px;
    flex-shrink: 0
}

.cardDetailHor>:nth-child(2) {
    min-width: 0
}

.ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis!important;
    white-space: nowrap
}


.figmaCaptionValue {
    color: var(--GMI-black);
    font-family: var(--card-detail-value-font-family);
    font-size: 14px;
    font-style: var(--card-detail-value-font-style);
    font-weight: 700;
    letter-spacing: var(--card-detail-value-letter-spacing);
    line-height: var(--card-detail-value-line-height);
    padding: 0 var(--GMI-carddetailhorizontalpaddingh);
    text-transform: capitalize;
    max-width: 200px;
}

.figmaCaptionValue.vertical {
    padding: 0
}


.figmaCaptionValue.outlined {
    background-color: var(--GMI-outlinedyellow);
    border-radius: 8px;
    padding: 2px var(--GMI-carddetailhorizontalpaddingh)
}

.sponsored .figmaCaptionValue.outlined {
    background-color: var(--GMI-sponsored-bgColor)
}

.bgSponsored{
  background-color: var(--GMI-sponsored-bgColor) !important;
}

.figmaCaption {
    color: var(--GMI-black);
    font-family: var(--card-detail-label-font-family);
    font-size: var(--card-detail-label-font-size);
    font-style: var(--card-detail-label-font-style);
    letter-spacing: var(--card-detail-label-letter-spacing);
    line-height: var(--card-detail-label-line-height);
    text-transform: capitalize;
}

.stretchedLink {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: block;
}

.clamp-2{
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
  -webkit-line-clamp: 2 !important; 
  line-clamp: 2 !important;
}

.clamp-1{
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
  -webkit-line-clamp: 1 !important; 
  line-clamp: 1 !important;
}

.resumeContent{
  display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
  -webkit-line-clamp: 5; 
  line-clamp: 5;
}

/* MainButton LIRE PLUS avec effet “remplissage jaune” */

.MainButtonText { 
    position: relative; 
    z-index: 1;
    font-family: var(--button-label-font-family); 
    font-size: var(--button-label-font-size);
    font-style: var(--button-label-font-style);
    font-weight: var(--button-label-font-weight);
    justify-content: center;
    letter-spacing: var(--button-label-letter-spacing);
    line-height: var(--button-label-line-height);
    text-overflow: ellipsis;
}
.MainButton::before {
  content: ""; position: absolute; inset: 0; background: var(--GMI-outlinedyellow);
  z-index: 0; transform: scaleX(0); transform-origin: left center; transition: transform .45s ease;
}
.MainButton:hover::before, .MainButton:focus-visible::before { transform: scaleX(1); }

.captionButtons {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.captionBtn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  border: 1px solid var(--GMI-cardbordercolor);
  border-radius: var(--GMI-buttonborderradius);
  background-color: white;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.25s ease;
  column-gap: 10px;
  width: 100%;
  min-width: 0;
  height: 40px;
  overflow: hidden;
  z-index: 0;
  text-overflow: ellipsis;
}


/* effet de hover jaune */
.captionBtn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--GMI-outlinedyellow);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s ease;
  z-index: -1;
}

.captionBtn:hover::before,
.captionBtn:focus-visible::before {
  transform: scaleX(1);
}

/* contenu au-dessus du jaune */
.captionLabel,
.captionText,
.chevron {
  position: relative;
  z-index: 1;
}

.textCenter{
  text-align: center;
}
  
.captionLabel {
    color: var(--GMI-black);
    flex: 0 0 auto;
    font-family: Montserrat, Helvetica;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: capitalize;
    width: 60px;
    
}


.captionText {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
  font-family: var(--button-label-font-family);
  font-size: var(--button-label-font-size); 
  font-style: var(--button-label-font-style); 
  text-transform: uppercase;
  min-width: 0;
  overflow: hidden;
}

.captionLine1 {
  font-weight: 700;
}

.captionLine2 {
  font-weight: 500;
}

.captionLine1, .captionLine2{
  display: block;
  width: 100%;
  overflow: hidden;        
  white-space: nowrap;      
  text-overflow: ellipsis;  
  line-height: 1.2;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  color: var(--GMI-black);
  font-family: var(--button-label-font-family);
  font-size: var(--button-label-font-size); 
  font-style: var(--button-label-font-style); 
}

.chevron {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

.moreBtn, .MainButton, .captionBtn { position: relative; z-index: 10; }


/* === VERSION GRANDE (DESKTOP) === */
.MainButton {
  --left-color-anim: #fff;
  --figma-button-border-radius: var(--GMI-buttonborderradius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--GMI-carddefaultbackground);
  background: linear-gradient(to left, var(--left-color-anim) 50%, var(--yellowGM) 50%);
  background-position: 100% 100%;
  background-size: 200% 100%;
  border: 1px solid var(--GMI-buttonbordercolor);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--GMI-black);
  column-gap: 10px;
  font-family: var(--button-label-font-family);
  font-size: 30px;
  font-style: var(--button-label-font-style);
  font-weight: var(--button-label-font-weight);
  height: 60px;
  width: 160px;
  letter-spacing: var(--button-label-letter-spacing);
  line-height: var(--button-label-line-height);
  padding: 12px 10px;
  position: relative;
  text-transform: uppercase;
  text-overflow: ellipsis;
  transition: all 0.25s ease-out;
  overflow: hidden;
  z-index: 5;
}

.MainButton.horizontal:hover {
  background-position: 0 100%;
}

/* === VERSION PETITE (MOBILE) === */
@media (max-width: 1000px) {
  .MainButton.horizontal {
  position: relative; overflow: hidden;
  display: inline-flex; align-items: center; justify-content: center;
  width: 100%; 
  height: 40px;
  border: 1px solid var(--GMI-buttonbordercolor); 
  border-radius: var(--GMI-buttonborderradius);
  font-size: 13px;
  text-decoration: none; 
  color: var(--GMI-black); 
  background: transparent;
  text-transform: uppercase;
  text-overflow: ellipsis;
    z-index: 10;
    cursor: pointer;
  }

  .MainButton.horizontal::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--GMI-outlinedyellow);
    z-index: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.45s ease;
  }


  .MainButtonText {
    position: relative;
    z-index: 1;
    font-family: var(--button-label-font-family);
    font-size: var(--button-label-font-size);
    font-weight: var(--button-label-font-weight);
    letter-spacing: var(--button-label-letter-spacing);
    line-height: var(--button-label-line-height);
  }
}


@media (max-width: 1000px) {

  .card-title {
    -webkit-line-clamp: 3 !important;
}

  .rightContent .divToques{
    display: none !important;
  }

  .button-container {
    width: 100% !important;
    display: block !important;
  }

  .cardkind-horizontal-empty {
    flex-direction: column; 
    width: 300px;
    height: 480px;
  }

  .cardkind-horizontal-blog > .rightContent > .horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: 100%;
    overflow: visible;
    margin-top: 10px;
  }


  .cardDetailHor {
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }

  .card-title.horizontal {
  color: var(--GMI-black);
  font-family: var(--card-title-font-family) !important;
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
  line-height: var(--card-title-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-transform: capitalize;
}


  .cardkind-horizontal-empty > .thumbnail-wrapper {
    width: 300px;
    height: 200px;
    max-width: 100%;
    min-width: auto;
  }

  .cardkind-horizontal-empty > .thumbnail-wrapper picture,
  .cardkind-horizontal-empty > .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .cardkind-horizontal-empty > .rightContent {
    flex: 1;
    width: 100%;
    padding: 20px 20px 20px !important;
    box-sizing: border-box;
    gap: 0px !important;
    overflow: visible;
  }

  .cardkind-horizontal-blog > .rightContent  {
        margin-left: 0px
    }

    
    .resumTwoLines{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; line-clamp: 2;
}
/*
sinon : */
.resumFourLines{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; line-clamp: 4;
}
 .cardkind-horizontal-empty {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 300px;
    border: 1px solid var(--GMI-cardbordercolor);
    background: var(--GMI-carddefaultbackground);
    overflow: hidden;
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 21px;
    left: 21px;
    width: 258px !important;
  }

  .captionButtons, .MainButton {
    width: 100%;
  }

  .horizontal {
    all: unset; /* supprime toutes les propriétés CSS appliquées */
  }

    .card-title.horizontal {
  color: var(--GMI-black);
  font-family: var(--card-title-font-family) !important;
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
  line-height: var(--card-title-line-height);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-transform: capitalize;
}
}


@media (max-width: 479px) {

  .button-container {
    width: 100% !important;
    display: block !important;
  }

  .cardkind-horizontal-empty {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 480px;
  }

  .cardkind-horizontal-blog > .rightContent > .horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    gap: 2px;
    width: 100%;
    overflow: visible;
  }


  .cardDetailHor {
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }


  .cardkind-horizontal-empty > .thumbnail-wrapper {
    width: 100%;
    height: 200px;
    max-width: 100%;
    min-width: auto;
  }

  .cardkind-horizontal-empty > .thumbnail-wrapper picture,
  .cardkind-horizontal-empty > .thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .cardkind-horizontal-empty > .rightContent {
    flex: 1;
    width: 100%;
    padding: 20px 20px 20px !important;
    box-sizing: border-box;
    gap: 0px !important;
    overflow: visible;
  }
 

  .figma-cardButton {
    display: none;
  }

  .cardkind-horizontal-blog > .rightContent  {
        margin-left: 0px;
    }

  .cardPaddingContainer {
    padding: 20px 0 0;
    position: relative;
    width: 100%
    }

    /* parent */
.cardkind-horizontal-empty, .rightContent { width:100%; position: relative; }

/* bouton */

.button-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;                 /* ou 90% */
  max-width: calc(100% - 42px);
  z-index: 10;
}

.captionButtons, .MainButton{
  width: 100%;
}
   
}
