/* Button Typography Variables */

:root {
  /* Button Typography */
  --buton-establishment-label-font-family: "Montserrat", Helvetica;
  --buton-establishment-label-font-size: 13px;
  --buton-establishment-label-font-style: normal;
  --buton-establishment-label-font-weight: 700;
  --buton-establishment-label-letter-spacing: 0px;
  --buton-establishment-label-line-height: 15.847000122070312px;
  
  --buton-people-label-font-family: "Montserrat", Helvetica;
  --buton-people-label-font-size: 13px;
  --buton-people-label-font-style: normal;
  --buton-people-label-font-weight: 700;
  --buton-people-label-letter-spacing: 0px;
  --buton-people-label-line-height: 15.847000122070312px;
  
  --button-cathegory-text-font-family: "Montserrat", Helvetica;
  --button-cathegory-text-font-size: 9px;
  --button-cathegory-text-font-style: normal;
  --button-cathegory-text-font-weight: 400;
  --button-cathegory-text-letter-spacing: 0px;
  --button-cathegory-text-line-height: 23px;
  
  --button-establishment-place-font-family: "Montserrat", Helvetica;
  --button-establishment-place-font-size: 13px;
  --button-establishment-place-font-style: normal;
  --button-establishment-place-font-weight: 500;
  --button-establishment-place-letter-spacing: 0px;
  --button-establishment-place-line-height: 15.847000122070312px;
  
  --button-label-font-family: "Montserrat", Helvetica;
  --button-label-font-size: 13px;
  --button-label-font-style: normal;
  --button-label-font-weight: 600;
  --button-label-letter-spacing: 0px;
  --button-label-line-height: 15.847000122070312px;
  
  --button-text-font-family: "Montserrat", Helvetica;
  --button-text-font-size: 13px;
  --button-text-font-style: normal;
  --button-text-font-weight: 700;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: 18px;
}
