/* Product Typography Variables */

:root {
  /* Product Typography */
  --product-header-description-font-family: "Montserrat", Helvetica;
  --product-header-description-font-size: 12px;
  --product-header-description-font-style: normal;
  --product-header-description-font-weight: 300;
  --product-header-description-letter-spacing: 0px;
  --product-header-description-line-height: 15px;
  
  --product-main-title-font-family: "Source Serif 4", Helvetica;
  --product-main-title-font-size: 34px;
  --product-main-title-font-style: normal;
  --product-main-title-font-weight: 900;
  --product-main-title-letter-spacing: 0px;
  --product-main-title-line-height: 45px;
  
  --product-place-header-font-family: "Montserrat", Helvetica;
  --product-place-header-font-size: 15px;
  --product-place-header-font-style: normal;
  --product-place-header-font-weight: 600;
  --product-place-header-letter-spacing: 0px;
  --product-place-header-line-height: 18px;
  
  --product-selection-font-family: "Montserrat", Helvetica;
  --product-selection-font-size: 13px;
  --product-selection-font-style: normal;
  --product-selection-font-weight: 400;
  --product-selection-letter-spacing: 0px;
  --product-selection-line-height: 17px;
  
  /* Recipe Typography */
  --recipe-synopsis-font-family: "Montserrat", Helvetica;
  --recipe-synopsis-font-size: 12px;
  --recipe-synopsis-font-style: normal;
  --recipe-synopsis-font-weight: 600;
  --recipe-synopsis-letter-spacing: 0.012000000104308128px;
  --recipe-synopsis-line-height: 17px;
}
